$grey-1: #333333;
.formContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  .formTitleContainer {
    h1 {
      font-size: 20px;
      color: $grey-1;
    }
  }
  .inputsContainer form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  button {
    max-width: 400px;
  }

  .pickupCheckBox {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;

    p {
      margin: 0;
    }
    input {
      margin: 0;
    }
  }
}
