$primary-green: #195a00;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;

.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 790px) {
    flex-direction: column;
  }
}
