$primary-green: #195a00;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
.titleContainer {
  p {
    color: $primary-green;
    margin-bottom: 0;
  }
  h1 {
    color: $grey-1;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
.reviewsLayout {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  box-sizing: border-box;
  .review {
    display: flex;
    flex: 0 0 100%;
    overflow: hidden;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    .reviewTextContainer {
      h1 {
        color: $grey-1;
        margin-top: 0;
        margin-bottom: 8px;
      }
      p {
        color: $grey-3;
      }

      .userContainer {
        p {
          color: $grey-2;
          font-weight: bold;
        }
      }
    }

    .reviewPictureContainer {
      img {
        width: 38vw;
        height: auto;
        min-width: 282px;
        max-width: 700px;
      }
      svg {
        &.fullStar {
          fill: $primary-green;
        }
      }
      .reviewMealDescription {
        width: 30vw;
        min-width: 218px;
        max-width: 576px;
        border-radius: 6px;
        margin-top: -7vw;
        margin-left: -20px;
        position: relative;
        z-index: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: white;
        padding: 32px;
        .titleContaier {
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 20px;
            color: $grey-1;
          }
          .price {
            color: $grey-2;
            font-size: 16px;
          }
        }
      }
    }
    @media screen and (max-width: 920px) {
      margin-left: 0;
    }
    @media screen and (min-width: 1920px) {
      margin-top: -134px;
    }
  }
  @media screen and (max-width: 370px) {
    margin-right: auto;
    margin-left: auto;
    img {
      min-width: 200px;
    }
    .reviewMealDescription {
      min-width: 160px;
      padding: 20px;
    }
  }
}
.bubble {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  &.active {
    background-color: #717171;
  }
}
.bubblesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.navigation {
  position: absolute;
  bottom: 0;
}
