$primary-green: #195a00;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-5: #e0e0e0;

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed $grey-5;
  padding-bottom: 10px;
  cursor: default;
  .itemDescriptionContainer {
    .itemTitle {
      font-size: 24px;
      color: $grey-1;
      margin-bottom: 0;
    }
    .itemDescription {
      color: $grey-2;
      margin-top: 7px;
      margin-bottom: 7px;
    }
    small {
      color: $grey-3;
      margin: 0;
    }
  }
  .itemPriceContainer {
    h1 {
      color: $primary-green;
      font-size: 24px;
    }
  }
  &:hover {
    .itemDescriptionContainer .itemTitle {
      color: $primary-green;
    }
  }
  @media screen and (max-width: 600px) {
    .itemDescriptionContainer {
      .itemTitle {
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 370px) {
    .itemDescriptionContainer {
      .itemTitle {
        font-size: 16px;
      }
      .itemDescription {
        font-size: 11px;
      }
    }
    .itemPriceContainer {
      h1 {
        font-size: 16px;
      }
    }
  }
}
