.layout {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 70px;
  @media screen and (max-width: 920px) {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  @media screen and (min-width: 2500px) {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}
