$primary-green: #195a00;
$grey-2: #4f4f4f;
$grey-4: #bdbdbd;

.navbarContainer {
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  z-index: 99999;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: background-color 0.5s ease;
  @media screen and (max-width: 370px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 2500px) {
    max-width: 1920px;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &.scrolled {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
.navbarLeftContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 370px) {
    margin-left: 5px;
  }
}
.logoContainer {
  font-weight: 600;
  font-size: 24px;
  a {
    text-decoration: none;
    color: black;
  }
  .logoColoredLetters {
    color: $primary-green;
  }
  @media screen and (min-width: 2500px) {
    margin-left: 50px;
  }
}

.linkingContainer {
  ul {
    display: flex;
    list-style: none;
    li {
      margin: 5px;
      cursor: pointer;
      a {
        color: black;
        text-decoration: none;
      }
      &:after {
        display: block;
        content: "";
        border-bottom: 2px solid $primary-green;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
      }
      &:hover:after {
        transform: scaleX(1);
      }
    }
    .selected {
      font-weight: 600;
    }
  }
}

.iconsContainer {
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 5px;
    width: 24px;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    &.cartContainer {
      position: relative;
      user-select: none;
      .cartAmount {
        position: absolute;
        right: -5px;
        top: -2px;
        background-color: $primary-green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(25, 90, 0, 0.5);
      }
    }
    &:last-child:hover {
      transform: none;
      cursor: default;
    }
  }
  @media screen and (max-width: 370px) {
    margin-right: 5px;
    ul {
      padding: 0;
    }
  }
  @media screen and (min-width: 2500px) {
    margin-right: 50px;
    svg path {
      stroke: black;
    }
  }
  &.scrolled {
    svg path {
      stroke: black;
    }
  }
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px;
    min-width: 90px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    svg {
      width: 12px;
      height: 12px;
    }
  }
  li:first-child:hover {
    .dropdownContent {
      display: block;
    }
  }
}

.desktopHidden {
  display: none;
}

// Mobile view

@media screen and (max-width: 840px) {
  .desktopHidden {
    display: block;
  }

  .navbarContainer {
    height: 54px;
    justify-content: space-between;
  }

  .hamburger {
    border: none;
    background: transparent;
  }
  // hidding linking components
  .linkingContainer {
    // menu list style
    ul {
      display: none;
      border-top: 1px solid $primary-green;
      background-color: white;
      overflow-y: scroll;
      list-style: none;
      position: fixed;
      top: 38px;
      left: 0;
      bottom: 0;
      height: 100vh;
      width: 0;
      overflow: hidden;
      z-index: 9;

      li {
        margin-top: 30px !important;
        margin-right: 0 !important;
      }
      .signOut {
        font-weight: 500;
        color: $primary-green;
        display: flex;
        svg {
          width: 15px;
          margin-right: 5px;
        }
      }
    }
  }
  .show {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
  }
  .iconsContainer {
    display: flex;
  }
}

@media screen and (max-width: 545px) {
  .iconsContainer {
    svg path {
      stroke: black;
    }
  }
}
