$primary-green: #195a00;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-5: #e0e0e0;

.dataContainer {
  .titleContainer {
    display: flex;
    align-items: center;
    .title {
      color: $grey-1;
    }
    .verifiedDisclaimer {
      margin: 0;
      font-size: 17px;
      color: $primary-green;
      font-style: italic;
      font-weight: 600;
      margin-top: auto;
      margin-bottom: auto;
    }
    @media screen and (max-width: 500px) {
      h1 {
        font-size: 20px;
      }
      .verifiedDisclaimer {
        font-size: 15px;
      }
    }
  }

  .completeData {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    h3 {
      color: $grey-2;
    }
    .data {
      min-width: 250px;
      .email {
        h3 {
          display: flex;
          align-items: center;
          svg {
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }
        }
        button {
          width: 120px;
          height: 35px;
          font-weight: 400;
          font-size: 15px;
        }
      }
      .password {
        button {
          margin-top: 10px;
          width: 150px;
          height: 35px;
          font-weight: 400;
          font-size: 15px;
        }
      }
      .joined {
        h3 {
          font-size: 15px;
          margin-bottom: 0;
          font-weight: 500;
        }
        p {
          font-size: 12px;
          margin-top: 0;
        }
      }
    }
    .lastOrderData {
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          color: $grey-3;
          .dataName {
            color: $grey-2;
            font-weight: 500;
          }
        }
      }
      @media screen and (max-width: 600px) {
        div {
          display: block;
        }
      }
    }
    @media screen and (max-width: 1030px) {
      flex-direction: column;
    }
  }
  .orderHistory {
    h3 {
      color: $grey-2;
    }
    .orders {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 10px;
      @media screen and (max-width: 360px) {
        display: block;
      }
    }
  }
}
