$primary-green: #195a00;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-5: #e0e0e0;

.dataContainer {
  .titleContainer {
    display: flex;
    align-items: center;
    .title {
      color: $grey-2;
    }
    .verifiedDisclaimer {
      margin: 0;
      font-size: 17px;
      color: $primary-green;
      font-style: italic;
      font-weight: 600;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
