$orange: #ff9f0d;
$primary-green: #195a00;
$grey-1: #333333;

.heroContainer {
  width: 100%;
  background-color: rgba(168, 188, 161, 0.9);
  color: $grey-1;
  height: 200px;
  position: absolute;
  left: 0;
  top: 96px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .heroTextContainer {
    font-weight: 500;
    a {
      text-decoration: none;
      color: $grey-1;
      &:last-child {
        color: $primary-green;
      }
    }
  }

  @media screen and (max-width: 840px) {
    top: 54px;
  }
}
