$primary-green: #195a00;
$orange: #ff9f0d;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
.carousel {
  position: relative;
  overflow: hidden;

  .carouselContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    box-sizing: border-box;

    .carouselPage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex: 0 0 100%; /* This will make each page take up 100% of the width of the carousel */
      padding: 20px;
      overflow: hidden;
      box-sizing: border-box;

      @media screen and (min-width: 2500px) {
        height: 800px;
      }
      .review {
        text-align: center;
        min-width: 90%;
        transition: box-shadow 0.1s ease-in-out; // Add transition property
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        .reviewTitle {
          font-weight: 600;
          font-size: 18px;
          color: $grey-1;
        }
        .reviewText {
          color: $grey-2;
          font-size: 15px;
          margin: 20px 0 20px 0;

          width: 100%;
        }

        .name {
          font-weight: 500;
          margin-top: 10px;
          color: $grey-2;
        }
        .date {
          color: $grey-3;
        }
        .rating {
          margin-top: 10px;
          svg {
            &.filledStar {
              fill: $primary-green;
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
        overflow-y: auto;
        .review {
          height: 340px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      height: 60vh;
    }
  }
  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: scale 0.5s ease-in-out;
    svg {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
